:root{
    --colore1: rgb(255, 60, 0);
    --colore2: rgb(235, 235, 235);
    --colore3: rgb(153, 153, 153);
    --colore4: rgb(214, 214, 214);
  }

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;
    border: 1px solid var(--colore4);
    border-radius: 15px;
    padding: 40px;
}

.title{
    margin: 30px 0;
}

.title h2{
    font-size: 2em;
    margin: 10px 0;
}

.title p{
    font-size: 1rem;
    margin: 0;
}

.link{
    transition: all .2s ease-out;
    cursor: pointer;
}

.link:hover{
    text-shadow: 0px 1px 10px  black;
}

