*{
  font-family: 'Roboto', sans-serif;
  font-weight: 500; /* Thin */

  box-sizing: border-box;
}

strong, h2, h4{
  font-weight: 700;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

